@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img.logo {
    width: 25vh;

}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.33rem;
    letter-spacing: .9rem;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: #D2DBDB;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: .9rem;
    text-transform: uppercase;
    line-height: 3rem
}

a.text {
    font-size: 1rem;
    line-height: 3rem;
    color: #B75E28;
}

a:hover {
    filter: drop-shadow(0px 0px 3px #889191);
}

.homePage {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.sideText {

    padding-left: 10px;
    padding-right: 30px;
    text-align: justify;
}

.logo {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sideContent {
    padding: 35px;
    padding-bottom: 0px;
    background-color: #D2DBDB;
}

.sideBar {

    display: flex;
    border-right: solid;
    border-color: #221F26;
    border-width: 1px;
    max-width: 450px;
    min-width: 450px;
    width: 450px;
    min-height: 100vh;
}

.nameBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: solid;
    border-color: #221F26;
    border-width: 1px;
    background-color: #6E888B;
    min-width: 48px;
    width: 48px;
    height: auto;
    filter: drop-shadow(7px 0px 3px #B0B7B7);

}

.logo2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;


}

.logogroup {
    width: 298px;
    margin-top: 15px;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 5px;
    justify-content: space-around;
}

.rightBar {

    display: table-column;
    width: 100vw;
    justify-items: end;

}

.homebuttonRow {
    display: flex;


    flex-direction: row;

    justify-content: center;


    align-items: center;
}

.SocialLink {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
}

img.SL {
    padding-right: 10px;
}


.row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

img.HB {
    max-width: 90%;
    padding-top: 7px;
    padding-left: 5px;
}

.desktopHP{
    display: unset;
}
.mobileHP{
    display: none;
}



@media only screen and (max-width: 1330px) {



    h1 {
        font-size: 1rem;
        writing-mode: unset;
        transform: rotate(0);
        
    }

    .homePage {
        display: unset;
    }

    .nameBar {

        border-right: unset;
        border-bottom: solid;
        border-width: 1px;
        width: 100vw;
        height: 35px;
        filter: drop-shadow(0px 7px 3px #B0B7B7);
    }

    .sideBar {

        display: block;
        max-width: unset;
        min-width: 240px;
        width: 100vw;
        min-height: unset;
        height: 100px;
 position: fixed;
 z-index: 10;

    }

    .h2name {
        display: none;
    }

    img.logo {
        width: 42px;
        padding-left: 10px;

    }

    .software {
        display: none;
    }

    .sideContent {
        display: flex;
        padding: 0;
        align-items: center;
        border: unset;
        border-bottom-style: solid;
        border-bottom-width: 1px;


    }

    .logo {

        width: unset;
        display: inline-block;
        align-content: unset;

    }

    .link {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        width: 100vw;
        align-items: flex-end;

    }

    a.text {
        line-height: 2rem;

    }

    .rightBar {

        display:block;
        position: relative;
        top: 100px;
        padding-bottom: 120px;

    }

    .row {
        justify-content: space-evenly;
        margin-top: unset;
        width: 100%;


    }

    img.HB {
        max-width: unset;
        width: 45vw;
        padding-top: 0px;
        padding-left: 0px;
    }

    img.SL {
        padding-right: 5px;
        width:2rem;
    }

    .desktopHP{
        display: none;
    }
    .mobileHP{
        display: unset;
    }
    .AL{
        width:2rem;
    }

    .logogroup {
        width: 100vw;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .bottombar{
 
        position: fixed;
        border-top: #221F26;
        border-top: solid;
        border-top-width: 1px;
        left:0px;
        bottom: 0px;
        width: 100vw;
        background-color: #D2DBDB;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sideTextBE{
        padding-left: 4vw;
        width: 42vw;
    }

}

@media only screen and (max-width: 650px) {
.sideTextBE{
    padding-left: 5vw;
    padding-right: 5vw;
    width: unset;

}
}


@media only screen and (max-width: 389px) {
    img.HB {
        max-width: unset;
        width: 90vw;
        padding-top: 0px;
        padding-left: 5vw;
        padding-right:5vw;
    }
    .row{
        flex-direction: column;
    }
}



/*
Min-width: 320px (smaller phone viewpoints) on side
Min-width: 480px (small devices and most phones) onside

Min-width: 768px (most tablets)

Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens)
*/