@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img.logo {
    width: 25vh;

}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.33rem;
    letter-spacing: .9rem;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: #D2DBDB;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    line-height: 3rem
}

h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: .3rem;
}

h5 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    line-height: 1rem;
    text-align: right;
}

p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
}

li {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
}

.ul {
    list-style-type: square;
}



a.text {
    color: #B75E28;
}

a:hover {
    filter: drop-shadow(0px 0px 3px #889191);

}

a:link {
    text-decoration: none;
    color: #B75E28;
}

.homePage {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.sideText {

    padding-left: 10px;
    padding-right: 30px;
    text-align: justify;
}

.logo {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sideContent {
    padding: 1.4rem;
    padding-right: 0;
    padding-bottom: 0px;
    background-color: #D2DBDB;
}

.sideBar {

    display: flex;
    border-right: solid;
    border-color: #221F26;
    border-width: 1px;
    max-width: 450px;
    min-width: 450px;
    width: 450px;
    min-height: 100vh;
}

.nameBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: solid;
    border-color: #221F26;
    border-width: 1px;
    background-color: #6E888B;
    min-width: 48px;
    width: 48px;
    height: auto;
    filter: drop-shadow(7px 0px 3px #B0B7B7);

}

.logo2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;


}


.logogroup {
    width: 298px;
    margin-top: 15px;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 5px;
    justify-content: space-around;
}


.logogroup2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}


.rightBar {

    display: table-column;
    width: 100vw;
    justify-items: end;

}

.homebuttonRow {
    display: flex;


    flex-direction: row;

    justify-content: center;


    align-items: center;
}

.SocialLink {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

img.SL {
    padding-right: 10px;
}


.row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

img.HB {
    max-width: 90%;
    padding-top: 7px;
    padding-left: 5px;
}

.desktopHP {
    display: unset;
}

.mobileHP {
    display: none;
}

/*project pages*/

.ProjectPage {
    min-height: 100vh;
    height: 100%;
}

.HomeButton {
    z-index: 11;
    position: fixed;
    width: 100vw;
    bottom: -1px;
    border: #221F26;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;

    background-color: #D2DBDB;

}

.HomeB {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    line-height: 2rem;
    text-align: center;
}

a:link.HBrollover {

    text-decoration: none;
}

.sideBar_Project {
    border-color: #221F26;
    border-width: 1px;
    display: block;
    max-width: unset;
    min-width: 240px;
    width: 100vw;
    min-height: unset;
    height: 100px;
    position: fixed;
    z-index: 10;

}

.h1Project {
    font-size: 1rem;
    writing-mode: unset;
    transform: rotate(0);

}

.projectinfo {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #6E888B
}

.h1Projectsub {
    font-size: 1.2rem;
    writing-mode: unset;
    transform: rotate(0);
    color: #6E888B;
    letter-spacing: .3rem;

}

.nameBar_Project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-color: #221F26;
    background-color: #6E888B;
    border-right: unset;
    border-bottom: solid;
    border-width: 1px;
    width: 100vw;
    height: 35px;
    filter: drop-shadow(0px 7px 3px #B0B7B7);
}


.sideContent_Project {

    background-color: #D2DBDB;
    display: flex;
    align-items: center;
    border: unset;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

img.logo_Project {
    width: 42px;
    padding-left: 16px;
}

.link_Project {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    width: 100vw;
    align-items: flex-end;

}

.logo_Project {

    width: unset;
    display: inline-block;
    align-content: unset;

}

.bottombarSub {

    border-top: #221F26;
    border-top: solid;
    border-top-width: 1px;
    left: 0px;
    width: 100vw;
    background-color: #D2DBDB;
    height: 5vh;
}

.Cover {
    width: 100vw;
    position: sticky;
    top: 100px;
    z-index: 0;
}

.MidProjectPage {
    width: 100vw;
    background-color: #F6F6F6;
    position: relative;
    top: 12vh;
    z-index: 1;
}

.projectInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 2rem;

}

.BoxLeft {



    padding-bottom: 50px;
    width: 80vw;
    max-width: 550px;
}

.BoxRight {

    padding-bottom: 50px;
    width: 80vw;
    max-width: 550px;
}

.Projectdetails {
    border-top: #221F26;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.BackgroundImage {
    width: 80vw;
    max-width: max-content;
}

.AWtextbox {
    padding: 1rem;
    padding-left: 10vw;
    padding-right: 10vw;
}

/*Slide show*/

.slideholder {
    padding-top: 50px;
    left: 0px;
    width: 100vw;
    background-color: #6E888B;
    padding-bottom: 10px;
    position: unset;
    z-index: 2;
}


.slideholderAW {
    left: 0px;
    width: 100vw;
    background-color: #6E888B;
    padding-bottom: 10px;
    position: unset;
    z-index: 2;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #D2DBDB;
    ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(110, 136, 139, 0.8);
}

/* Caption text */
.caption {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #D2DBDB;
    font-size: 0.8rem;
    padding-top: 3px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    width: 100%;
    text-align: center;
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #D2DBDB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #221F26;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Video Bar*/

.Videoholder {
    display: flex;
    padding-top: 2rem;
    left: 0px;
    width: 100vw;
    background-color: #F6F6F6;
    padding-bottom: 2rem;
    position: unset;
    z-index: 2;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}

.video {


    position: relative;
    padding-bottom: calc(56.25% * 0.75);
    /* 16:9 */
    width: 75%;
    height: 0;
    max-width: 650px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%
}

/*CV PAGE*/

.MidCVPage {
    display: flex;
    width: 100vw;
    background-color: #F6F6F6;
    position: relative;
    top: 2rem;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CVbox {
    max-width: 500px;
    padding: 1.5rem;
}

.contactCVbox {
    border-top: #221F26;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.SkillsCVbox {
    padding-top: 1.5rem;
    border-top: #221F26;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 1.5rem;
}

.Videoholder2 {
    display: flex;
    padding-top: 4rem;
    width: 120rem;
    max-width: 650px;
    align-items: center;
    flex-wrap: nowrap;
}

/* support pages */

.Sbox {
    max-width: 500px;
    padding: 1.5rem;
    padding-top: 0px;
}

.MidsupportPage {
    width: 100vw;
    position: relative;
    top: 8rem;
}

.Supportbox {
    display: flex;
    flex-wrap: nowrap;
    align-items:flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: flex-start;
}

.imageboxsupport {
    width: 30vw;
    height: auto;
    max-width: 440px;
    border: #221F26;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
}

.infoboxsupport {
    margin-left: 30px;
    width: 440px;
    min-height: fit-content;
    background-color: #e2e5e6;
}

.Supporttextbox {
    padding: 1.5rem;
    border-top: #221F26;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 1.5rem;
}




@media only screen and (max-width: 1643px) {
    .MidCVPage {

        justify-content: flex-start;
        padding-left: 30px;
    }
}




@media only screen and (max-width: 1330px) {



    h1 {
        font-size: 1rem;
        writing-mode: unset;
        transform: rotate(0);

    }

    .homePage {
        display: unset;
    }

    .nameBar {

        border-right: unset;
        border-bottom: solid;
        border-width: 1px;
        width: 100vw;
        height: 35px;
        filter: drop-shadow(0px 7px 3px #B0B7B7);
    }

    .sideBar {

        display: block;
        max-width: unset;
        min-width: 240px;
        width: 100vw;
        min-height: unset;
        height: 100px;
        position: fixed;
        z-index: 10;
    }

    .h2name {
        display: none;
    }

    img.logo {
        width: 42px;
        padding-left: 16px;
    }



    .software {
        display: none;
    }

    .sideContent {
        display: flex;
        padding: 0;
        align-items: center;
        border: unset;
        border-bottom-style: solid;
        border-bottom-width: 1px;


    }

    .logo {

        width: unset;
        display: inline-block;
        align-content: unset;

    }

    .link {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        width: 100vw;
        align-items: flex-end;

    }

    .SocialLink {
        padding-right: 20px;
    }

    a.text {
        line-height: 1rem;

    }

    .rightBar {

        display: block;
        position: relative;
        top: 100px;

    }

    .row {
        justify-content: space-evenly;
        margin-top: unset;
        width: 100vw;


    }

    img.HB {
        max-width: 400px;
        width: 40vw;
        padding-top: 0px;
        padding-left: 0px;
    }

    img.SL {
        padding-right: 5px;
        width: 2rem;
    }

    .desktopHP {
        display: none;
    }

    .mobileHP {
        display: unset;
    }

    .AL {
        width: 2rem;
    }

    .logogroup {
        width: 100vw;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .bottombar {

        border-top: #221F26;
        border-top: solid;
        border-top-width: 1px;
        left: 0px;
        width: 100vw;
        background-color: #D2DBDB;
        height: 5vh
    }



    .sideTextBE {
        padding-left: 10vw;
        width: 90%;
        max-width: 500px;
    }

    /* support pages */

.Sbox {
    max-width: 500px;
    padding: 1.5rem;
    padding-top: 0px;
}



.Supportbox {
    position: relative;
    left: -200px;
    flex-direction: column;
    align-items: center;

}

.imageboxsupport {
    width: 50vw;
    height: auto;
    max-width: unset;
    border: #221F26;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
}

.infoboxsupport {
    width: 50vw;
    height: auto;
    max-width: unset;
    margin-left: 0px;
    margin-bottom: 30px;
}



}

@media only screen and (max-width: 1220px) {
    .BoxLeft {
        padding-bottom: 0px;
    }

    .BoxRight {
        padding-top: 0px;
    }

    .projectInformation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: space-around;
    }
    .Supportbox {
        position: unset;
        left: unset;
    }

    .imageboxsupport {
        width: 90vw;
        max-width: 650px;
    }
    
    .infoboxsupport {
        width: 90vw;
        max-width: 650px;
    }

    .Supporttextbox {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}

@media only screen and (max-width: 1095px) {

    

    .contactCVbox {
        border-top-width: 0px;
    }

    .CVbox {
        padding-bottom: 0px;
    }

    .Videoholder2 {
        display: none;
    }

}


@media only screen and (max-width: 730px) {
    .sideTextBE {
        padding-right: 10vw;
        width: unset;

    }

    .MidCVPage {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        padding-left: 0px
    }

   

}




@media only screen and (max-width: 430px) {
    .sideTextBE {
        padding-left: 5vw;
        padding-right: 5vw;
        width: unset;

    }

    img.HB {
        max-width: unset;
        width: 90vw;
        padding-top: 0px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .row {
        flex-direction: column;
    }





    .HomeB {

        font-size: 0.6rem;
        letter-spacing: .2rem;

    }

    h1 {
        font-size: 0.6rem;
        letter-spacing: .7rem;
    }

    .h1Project {
        font-size: 0.6rem;
        letter-spacing: .7rem;
        text-align: center;
    }

    h3 {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 0.8rem;
    }








}

@media only screen and (max-width: 350px) {
    h3 {
        font-size: 0.6rem;
        letter-spacing: 0.2rem;
    }
}



/*
Min-width: 320px (smaller phone viewpoints) on side
Min-width: 480px (small devices and most phones) onside
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens)
*/